@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Bitcount+Grid+Single:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*BBH Sans Hegarty, Playfair Display, Bitcount Grid Single */
:root {
    --primary-color: #000000;
    --primary-light: #ffffff;
    --muted-gray: #a7a7a7;
    --container-background: #f9f9f9;
    --heading-font: "Playfair Display", serif;
    --body-font: "Bitcount Grid Single", sans-serif;
    --link-fonts: "BBH Sans Hegarty", sans-serif;
}

* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-size: 1rem;
}

header {
    margin-top: 2rem;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.header-image-container img {
    transition: opacity 0.3s ease-in-out;
}

#sub {
    width: 25%;
    opacity: 25%;
    margin-left: 0px;
}

.profile-picture {
    border-radius: 50%;
    width:6.25rem;
    height:6.25rem;
    object-fit: cover;
    margin-top: 20px;
    margin-left: 5px;
}

.profile {
    margin: 0 auto;
    text-align: center;
    padding:20px;
}

.contact-info {
    margin-left: -2.7rem;
}


@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 1rem;
        max-width: 100vw;
        overflow-x: hidden;
        line-height: 1.5;
        font-size: 1.05rem;
    }
}

main {
    margin-top: 2rem;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}

.main-container {
    display:block;
    align-items: center;
    gap: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 600px;
}

footer {
    text-align: center;
    color:lightgray;
}

.haridus-table {
    padding:auto;
    margin:0 auto;
}

.haridus-table ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding:8px 0;
    border-bottom: 1px solid #ddd;
}


.haridus-table li:first-child {
  font-weight: bold;
  color: #555;
}

.haridus-table li:last-child {
  text-align: right;
  color: #333;
  flex: 1;
  margin-left: 20px;
}

.training-table {
    padding:auto;
    margin:0 auto;
}

.training-table ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding:8px 0;
    border-bottom: 1px solid #ddd;
}

.training-table li:first-child {
    font-weight: bold;
    color:#555
}

.training-table li:last-child {
    text-align: right;
    color:#333;
    flex: 1;
    margin-left: 20px;
}

.skills-table {
    padding:auto;
    margin:0 auto;
}

.skills-table ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 0;
    list-style: none;
    border-bottom: 1px solid #ddd;
}

.skills-table li:first-child{
    font-weight: bold;
    color:#333;
}

.skills-table li:last-child{
    text-align: right;
    color:#333;
    flex:1;
    margin-left: 20px;
}